<div class="row">
  <div class="col-md-2 col-md-offset-10">
    <%= link_to "Add a Chocolatier", "/chocolatiers/new", "class" => 'btn btn-lg btn-primary' %>
  </div>
</div>

<div class="row">

  <div class="col-md-8">

    <% Chocolatier.read.order("name").each do |chocolatier| %>

      <div class="row chocolate">

        <div class="col-md-4">
          <%= link_to image_tag(chocolatier["logo_url"], "class" => "indeximage"), "/chocolatiers/#{chocolatier["id"]}" %>
        </div>

        <div class="col-md-8">
          <h2>
            <%= link_to chocolatier["name"], "/chocolatiers/#{chocolatier["id"]}" %>
          </h2>
          <p>Origin: <%= chocolatier["origin"] %></p>
          <p>Website: <%= link_to chocolatier["website_url"], chocolatier["website_url"] %></p>

          <p>
          <%= link_to "Edit", "/chocolatiers/#{chocolatier["id"]}/edit" %> |
          <%= link_to "Delete", "/chocolatiers/#{chocolatier["id"]}", "method" => "delete", data: { confirm: 'Are you sure?' }  %>
          </p>

        </div>

      </div>
    <% end %>
  </div>

</div>
