<div class="row">
  <div class="col-md-2 col-md-offset-10">
    <%= link_to "Add a Chocolate", "/chocolates/new", "class" => 'btn btn-lg btn-primary' %>
  </div>
</div>

<div class="row">

  <div class="col-md-8">

    <% Chocolate.read.order("name").each do |chocolate| %>

      <div class="row chocolate">

        <div class="col-md-4">
          <%= link_to image_tag(chocolate["photo_url"], "class" => "indeximage"), "/chocolates/#{chocolate["id"]}" %>
        </div>

        <div class="col-md-8">
          <h2>
            <%= link_to chocolate["name"], "/chocolates/#{chocolate["id"]}" %>
          </h2>
          <p><%= chocolate["description"] %></p>

          <% chocolatier = Chocolatier.find_by("id" => chocolate["chocolatier_id"]) %>
          <% if chocolatier.present? %>
            <p>Chocolatier: <%= link_to chocolatier["name"], "/chocolatiers/#{chocolatier["id"]}" %> (<%= chocolatier["origin"] %>)</p>
          <% end %>

          <p>
          <%= link_to "Edit", "/chocolates/#{chocolate["id"]}/edit" %> |
          <%= link_to "Delete", "/chocolates/#{chocolate["id"]}", "method" => "delete", data: { confirm: 'Are you sure?' }  %>
          </p>

        </div>

      </div>
    <% end %>
  </div>

</div>
